<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/bootstrap.css" rel="stylesheet"type="text/css"> 
    <link href="/bootstrap.min.css" rel="stylesheet"type="text/css">      
    <link href="/bootstrap-responsive.min.css" rel="stylesheet"type="text/css">
    <link href="/bootstrap-responsive.css" rel="stylesheet"type="text/css">
		
    <link href="/bootstrappage.css" rel="stylesheet"type="text/css"/>
    <script src="\bootstrap.js"></script>
    <script src="\bootstrap.js"></script>
		
		<!-- global styles -->
		<link href="/flexslider.css" rel="stylesheet"type="text/css"/>
		<link href="/main.css" rel="stylesheet"type="text/css"/>

    <title>shopping website</title>
  </head>
  <body>
    <div class="container"><%- body %></div>

    
  </body>
</html>
