<div class="container">
    <h1>employee Detail</h1>
    
    <h4>Name:</h4>
    <%=employee.name %>
  
    <br />
    <h4>City:</h4>
    <%=employee.city %>
  
    <br />
    <br />
    <h4>mobile:</h4>
    <%=employee.mobile %>
    <br />
    <a href="/employee/all" class="">
      <i class="fas fa-home" style="color:green">View List</i>
    </a>
  </div>
  