
<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="./chat.css"/>
</head>

<body>
  <ul id="messages"></ul>
  <form action="#">
    <div class="label">
      <label id="typing"></label>
    </div>
    <div class="content">
      <input id="m" autocomplete="off" placeholder="type here" />
      <button id="send" type="button">Send</button>
    </div>
  </form>

  
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="./chat.js"></script>
</body>

</html>

<!-- tawlk.to code here -->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5ed7221e9e5f6944228fc398/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  
